<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.alfred-docs</string>
	<key>connections</key>
	<dict>
		<key>D2551551-FCD3-4627-8892-23B0900ABCEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03B4A03C-A8CD-4BCC-8372-7B902AFEAF14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pawel Grzybek</string>
	<key>description</key>
	<string>Browse documentation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"ECMAScript","arg":"https:\/\/262.ecma-international.org","subtitle":"https:\/\/262.ecma-international.org"},{"title":"Node.js","arg":"https:\/\/nodejs.org\/dist\/latest-v16.x\/docs\/api\/","subtitle":"https:\/\/nodejs.org\/dist\/latest-v16.x\/docs\/api\/"},{"title":"commercetools","arg":"https:\/\/docs.commercetools.com\/api\/","subtitle":"https:\/\/docs.commercetools.com\/api\/"},{"title":"AWS SDK","arg":"https:\/\/docs.aws.amazon.com\/AWSJavaScriptSDK\/v3\/latest\/","subtitle":"https:\/\/docs.aws.amazon.com\/AWSJavaScriptSDK\/v3\/latest\/"},{"title":"zsh","arg":"https:\/\/zsh.sourceforge.io\/Doc\/Release\/zsh_toc.html","subtitle":"https:\/\/zsh.sourceforge.io\/Doc\/Release\/zsh_toc.html"}]</string>
				<key>keyword</key>
				<string>docs</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Go to documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D2551551-FCD3-4627-8892-23B0900ABCEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>03B4A03C-A8CD-4BCC-8372-7B902AFEAF14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03B4A03C-A8CD-4BCC-8372-7B902AFEAF14</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>D2551551-FCD3-4627-8892-23B0900ABCEE</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://pawelgrzybek.com/</string>
</dict>
</plist>
